<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">My name is Jacqueline(Jackie) Krohn. I'm an engineer with a passion for problem solving which led me to data science. After finishing my undergraduate in mechanical engineering at The University of Texas at Austin, I spent some time working before deciding to pursue my Master of Science in Business Analytics. </p>
                <a href="#" class="btn btn-default btn-xl">Check out my work and passions!</a>
            </div>
        </div>
    </div>
</section>
