/**
 *
 *  Contact Section Style
 *
 *  @package ohkimur_layout
 *
 **/

section.contact-section {
  /* ---- reset ---- */ 
  body {
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
  }
  canvas {
    display: block;
    vertical-align: bottom;
  } /* ---- particles.js container ---- */
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #161616;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  } /* ---- stats.js ---- */
  .count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
  .js-count-particles {
    font-size: 1.1em;
  }
  #stats,
  .count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
  }
  #stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
  }
  .count-particles {
    border-radius: 0 0 3px 3px;
  }
  color: $light-blue;

  // Section Header
  header.section-header {
    h2, h3, h4 {
      color: $white;
    }

    hr {
      background: $white;
    }
  }

  // Form Container
  .form-container {
    margin-top: 80px;

    // Contact Form
    form.contact-form {

      .col-md-6, .col-md-12 {
        margin-bottom: 30px;
      }

      input, textarea {
        color: $white;

        &:hover,
        &:active {
          color: $white;
          border-color: $primary;
          background: transparentize($primary, 0.75);

          // Placeholders
          &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $white;
          }
          &::-moz-placeholder { /* Firefox 19+ */
            color: $white;
          }
          &:-ms-input-placeholder { /* IE 10+ */
            color: $white;
          }
          &:-moz-placeholder { /* Firefox 18- */
            color: $white;
          }
        }
      }

      // Form Action
      .form-action {
        text-align: center;
        padding-top: 30px;

        .send-button {
          text-transform: uppercase;
          width: 40%;

          // Responsive Media
          @media (max-width: 500px) {
            display: block;
            width: 100%;
          }
        }
      }

    }

  }

}
